# building
lib/
build/
cmake-build-debug/
cmake-build-release/
*.pyproj
*.sln

#os specific
.idea/
.DS_Store

#python virutal environments
env/
venv*/
__pycache__

#distributions
dist/
manylinux/
*.egg-info
\.vs/
