# building
lib/
build/
docs/_build/
cmake-build-debug/
cmake-build-release/
*.pyproj
*.sln
*.ipynb_checkpoints
.vscode

#os specific
.idea/
.DS_Store
*.so

#python virutal environments
env/
venv*/
__pycache__

.env

#distributions
dist/
manylinux/
*.egg-info
*.eggs
\.vs/
files/defaults/
*.pyc

.mypy_cache
