# building
lib/
build/
cmake-build-debug/
cmake-build-release/

#os specific
.idea/
.DS_Store

#python virutal environments
env/
venv*/
__pycache__

#distributions
dist/
manylinux/
System_Advisor_Model.egg-info