appdirs==1.4.4
atomicwrites==1.4.0
backports.weakref==1.0.post1
clyent==1.2.2
conda-repo-cli==1.0.75
conda-verify==3.4.2
configparser==6.0.1
et-xmlfile==1.1.0
fonttools==4.25.0
inflection==0.5.1
jsonpointer==2.1
mkl-service==2.4.0
munkres==1.1.4
NREL-PySAM==5.0.0
openpyxl==3.0.10
patsy==0.5.3
ply==3.11
protobuf==3.20.3
pvlib==0.10.4
pvmismatch==4.1
pyasn1-modules==0.2.8
pycurl==7.45.2
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
python-lsp-jsonrpc==1.0.0
pywin32==305.1
scipy==1.11.4
webencodings==0.5.1
zstandard==0.19.0
